[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
serenity = {editable = true, path = "."}
fastapi = "*"
orjson = "*"
pydantic-settings = "*"
uvicorn = "*"
websockets = "*"
fastapi-websocket-pubsub = "*"
redis = "*"
networkx = "*"

[dev-packages]
pylint = "*"
mypy = "*"
matplotlib = "*"
types-redis = "*"

[requires]
python_version = "3.11"
